aws_profile     = "..."
cluster_name    = "..."
cluster_region  = "ap-northeast-2"
environment     = "..."

vpc_cidr_block          = "10.0.0.0/16"
vpc_azs                 = ["ap-northeast-2a", "ap-northeast-2b", "ap-northeast-2c", "ap-northeast-2d"]
vpc_private_subnets     = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24", "10.0.4.0/24"]
vpc_public_subnets      = ["10.0.11.0/24", "10.0.12.0/24", "10.0.13.0/24", "10.0.14.0/24"]
vpc_database_subnets    = ["10.0.21.0/24", "10.0.22.0/24", "10.0.23.0/24", "10.0.24.0/24"]
vpc_elasticache_subnets = ["10.0.31.0/24", "10.1.32.0/24", "10.0.33.0/24", "10.0.34.0/24"]
